HELP.md

target/
build/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/wrapper/maven-wrapper.jar

.idea/
.vscode/

*.iml
*.ipr
*.iws

.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

.nb-gradle/
nbproject/private/

logs/
*.log

.env
.env.*

.DS_Store
Thumbs.db
